

.cursor{
    width: 20px;
    height: 20px;
    position: fixed;
    left: -10px;
    top: -10px;
    transform: translate(var(--mouse-x), var(--mouse-y)) translateZ(0);
    pointer-events: none;
    transition: none;
}

/*.cursor_sub{
    display: block;
    width: 100%; 
    height: 100%; 
    border: 1px solid #000000; 
    background: #63a76f;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    transition: all 0.15s ease-in-out;
    opacity: 1;
}*/

.cursor_sub{
    display: block;
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #99f799;
    transition: all 0.15s ease-in-out;
    opacity: 1;
}

.cheked_cursor{
    opacity: 0.5;
}

.hidden_cursor{
    opacity: 0;
}

*, .custom_cursor{
    cursor: none;
}