body{
   /* display: flex;
    flex-direction: column;
    min-height: 100vh;*/
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/*footer{
    margin-top: auto;
}*/

#decoration{
    text-decoration: none;
}

