.link-color{
    color: #fff8e7;
}

.bg-navbar{
    background-color: #fff8e7;
    opacity: 0.8;
}

.bg-navbar > .d-clink{
    font-weight: bold;
}

.bg-body{
    background-image: url(../img/bienbenido.jpeg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

